@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

.gridContainer {
  display: grid;
  grid-template-rows: 6vh 84vh 5vh 5vh;
  background-color: black;
}

.grid-item-1 {
  background-color: #222222;
  display: flex;
  color: white;
  align-items: center;
}

.grid-item-1 > p {
  font-size: 25px;
  margin-left: 10px;
}

.grid-item-1 > img {
  height: 50px;
  width: 50px;
  margin-left: 24px;
}

.grid-item-2 {
  background-color: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formContainer {
  background-color: #ffffff;
  height: 600px;
  width: 488px;
  border-top: 2px #3ac7ec;
}

.formHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.formHeader > img {
  height: 26px;
  width: 17px;
  margin-left: 32px;
}

.formHeader > p {
  color: #222222;
  font-size: 24px;
  font-weight: 500;
  margin-left: -30px;
}

.formRadio {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.formRadio > div {
  margin-left: 25px;
  display: flex;
  align-items: center;
}

.formRadio > div > label {
  color: #333333;
  font-size: 18px;
  font-weight: 500;
  margin-left: 8px;
}

.formRadio > div > input {
  accent-color: #1f7a54;
  height: 20px;
  width: 24px;
}

.formSelectors {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 32px;
}

.formSelectors > div {
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
}

.formSelectors > div > label {
  color: #666666;
  font-size: 12px;
}

.formSelectors > div > select {
  border: none;
  border-bottom: 1px solid #e0e1e1;
  margin-top: 5px;
  font-size: 16px;
  padding: 2px 0px;
  color: #222222;
  font-weight: 500;
  outline: none;
}

.formInputs {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0px 32px; position: relative;
  /* background-color: #3ac7ec; */
}

.forgotEye{
  position: absolute;
  top: 50%;
  right:30px
}

.formInputs > div > input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #e0e1e1;
  padding: 3px;
  outline: none;
}

.formInputs > div > input::placeholder {
  color: #666666;
  font-size: 16px;
}

.formInputs > div > p {
  color: #1f7a54;
  font-size: 14px;
  font-weight: 500;
  text-align: right;
}

.formRemember {
  padding: 5px 32px;
  display: flex;
  align-items: center;
}

.formRemember > label {
  color: #222222;
  font-size: 16px;
  font-weight: 500;
  margin-left: 5px;
}

.formRemember > input[type="checkbox"] {
  accent-color: #1f7a54;
}


.formBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.formBtn > button{
  height: 40px;
  width: 216px;
  color: #1F2834;
  background-color: #3FD28B;
  border: none;
  box-shadow: 0px 3px 5px #0000003D;
}


.grid-item-3 {
  background-color: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-item-3 > p {
  margin-left: 20px;
  color: #1f7a54;
  font-size: 18px;
  font-weight: normal;
}

.grid-item-4 {
  background-color: #e0e1e1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-item-4 > img {
  height: 40px;
  width: 40px;
}

.grid-item-4 > p {
  font-size: 20px;
  font-weight: bold;
}

.textComp {
  display: flex;
  align-items: center;
  margin-left: 32px;
}

.textComp > p {
  margin-left: 10px;
}

.textComp > span{
  margin-left: 10px;
  font-weight: 700;
}

@media screen and (max-width: 1024px) {

  .textComp > p{
    font-size: 12px;
  }

  .textComp > span{
    font-size: 11px;
  }
}
